

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:100%;
}

.word1 {
	color:blue;
}

body {
  width:60%;
  margin:0 auto;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('League_Gothic-webfont.woff') format('woff'),
         url('League_Gothic-webfont.ttf') format('truetype'),
         url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family:'LeagueGothicRegular';
	font-size:110px;
}

.toplinks {
	width: 100%;
	height:30px;

}

.vs {
	color:gray;
	font-family:georgia;
	font-weight:bold;
	font-style:italic;
	font-size:50px;
	border-top: 5px solid gray;
	border-bottom: 5px solid gray;
    border-style:double;
	;
}

.toplinks ul {
	width: 100%;	
}

.toplinks li {
	width: 18%;	
	float: left;
	text-align: center;
	padding: 1%;
	font-family: 'LeagueGothicRegular';
	font-size:25px;
	font-weight:normal;
	text-transform:uppercase;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

#logo {
	text-align: center;
	margin:50px;
	max-width:100%;
}

#logo img {
	max-width:100%;
}

.main {
	width:100%;
}

div {
	width:100%;
}

article {
	width:40%;
	float:left;
	margin:5%;
	
}

article img  {
	margin: 0 auto;
	max-width:100%;
	}

#dognoses {
	font-size:25px;
	font-family:georgia;
	font-weight:bold;
	padding: 15px 0px
}

#cattongues {
	font-size:25px;
	font-family:georgia;
	font-weight:bold;
	padding: 15px 0px
}

#article1 {
	font-family:georgia;
	font-size:12px;
	line-height:14px;
}

#article2 {
	font-family:georgia;
	font-size:12px;
	line-height:14px;
}

footer{
	width:100%;
	border-top: 5px solid black;
}

.left {
	float:left;
	padding:15px 0px
}

.right {
	 float:right;
	 	padding:15px 0px
}

p {
	max-width:100%;
}

  @media screen and (max-width:700px) {
    #cattongues { font-size:15px;} 
    #dognoses { font-size:15px;} 
    .toplinks li {font-size:15px;}
    footer {border-top:2px solid black}
    .left {font-size:12px; text-align:center; float:none;}
    .right {font-size:12px; text-align:center; float:none;}
    .toplinks li{border-top: 2px solid black;border-bottom: 2px solid black;}
}

  @media screen and (max-width:525px) {
	article {float:none; width:100%; margin: 5% 0 5% 0;}
	#cattongues {text-align:center;}
	#dognoses {text-align:center;}
}